/*
========================================================================================
    Nextflow config file for running human RNA-Seq
========================================================================================

    Use as follows:
        nextflow run main.nf -C config/human.config -resume

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Human long RNA-Seq profile'
    config_profile_description = 'Human config'

    // Limit resources so that this can run CI
    max_cpus   = 28
    max_memory = 128.GB
    max_time   = 200.h

    // Input data
    input = '/Business/gene_company/zhaorui/pt011/scripts/whole_transcriptome/lnc_data/human/lnc2/s.csv'
    outdir='results/lnc2-human'

    // Genome references
    fasta            = '/Business/gene_company/zhaorui/data/gencode/human.v38/Homo_sapiens_assembly38.fasta'
    gtf              = '/Business/gene_company/zhaorui/data/gencode/human.v38/gencode.v38.annotation.gtf.gz'
    gencode          = true
    featurecounts_group_type  =  'gene_type'
    transcript_fasta = '/Business/gene_company/zhaorui/data/gencode/human.v38/human.gencode.v38.transcripts.fa.gz'
    additional_fasta = null

    hisat2_index     = null
    star_index       = '/Business/gene_company/zhaorui/data/gencode/human.v38/star'
    salmon_index     = '/Business/gene_company/zhaorui/data/gencode/human.v38/human.gencode.v38_salmon_1.5.1'
    rsem_index       = null
    save_reference   = false

    // Other parameters
    pseudo_aligner      = 'salmon'
                salmon_quant_libtype = 'ISR'
                seq_center          = 'JBPT'

    remove_ribo_rna = true
    save_non_ribo_reads = true

}

