/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run CI
    max_cpus   = 8
    max_memory = 8.GB
    max_time   = 2.h

    // Input data
    input = '/home/zhaorui/pt011/tools/rnaseq/test/samplesheet_test.csv'
		outdir='results/test'

    // Genome references
    fasta            = '/home/zhaorui/pt011/tools/rnaseq/test/genome.fa'
    gtf              = '/home/zhaorui/pt011/tools/rnaseq/test/genes.gtf.gz'
    // gff              = '/home/zhaorui/pt011/tools/rnaseq/test/genes.gff.gz'
    transcript_fasta = '/home/zhaorui/pt011/tools/rnaseq/test/transcriptome.fasta'
    additional_fasta = '/home/zhaorui/pt011/tools/rnaseq/test/gfp.fa.gz'

    hisat2_index     = '/home/zhaorui/pt011/tools/rnaseq/test/hisat2.tar.gz'
    star_index       = '/home/zhaorui/pt011/tools/rnaseq/test/star.tar.gz'
    salmon_index     = '/home/zhaorui/pt011/tools/rnaseq/test/salmon.tar.gz'
    rsem_index       = '/home/zhaorui/pt011/tools/rnaseq/test/rsem.tar.gz'

    // Other parameters
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'

    // When using RSEM, remove warning from STAR whilst building tiny indices
    modules {
        'rsem_preparereference' {
            args2 = "--genomeSAindexNbases 7"
        }
    }
}
